body{
	/*background-image: url(img/bg3.jpg);*/
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
}

nav{
	display: flex;
	font-family: cursive;
	justify-content: space-between;
	width: 35%;
	margin-left: 55%;
	color: white;
	position: fixed;
	top: 0;
	margin-top: 6vh;
	font-size: 3vh;
}


.header{
	font-size: 5vh;
	font-family: cursive;
	color: white;
	text-shadow: transparent;
	width: 65%;
	margin-left: 10%;
	color: red;
}

a{
	color: white;
	text-decoration: none;

}

/*.nav{
	display: flex;
	justify-content: space-around;
	font-size: 5vh;
	font-family: math;
	color: white;
}
*/
a:hover {
    cursor: pointer;
    color: red;
}
